<div class="container">
  <div class="row list-project">
    <div class="col-md-5">
      <%= image_tag(@pin.image, class: "rounded tablet-top", size: '400x400') if @pin.image.attached? %>
    </div>
    <div class="col-md-7">
      <div class="project-info-box">
        <h3 class="fw-bold"><%= @pin.name %></h3>
        <p class="text-muted"><%= @pin.description.present? ? @pin.description : "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English." %></p>
      </div>
      <div class="d-flex gap-2">
        <i class="bi bi-chat-dots"></i>
        <p id="<%= "pin_#{@pin.id}" %>"><%= pluralize(@pin.comments.count, 'comment')  %></p>
      </div>
      <hr>
      <% if verify_user(current_user, @pin)%>
        <div class="d-flex justify-content-start align-items-center">
          <%= link_to edit_board_pin_path(@board, @pin),class: 'text-decoration-none', data: { controller: 'bs-modal'} do %>
            Edit  <i class="bi bi-pen mx-2"></i>
          <% end %>
          <%= button_to [@pin.board, @pin], class: 'btn  text-danger ',method: :delete, data: {'turbo-method': :delete, turbo_confirm: 'You sure?', action: 'click->bootstrap#submitEnd'} do %>
            Remove <i class="bi bi-trash mx-2"></i>
          <% end %>
        </div>
      <% end %>
      <hr>
      <div class="project-info-box mb-10">
        <p><b>Board:</b> <%= @pin.board.name %></p>
        <p><b>Date:</b> <%= time_ago_in_words(@pin.created_at) + ' ago'%></p>
        <p><b>Designer: </b><%= @pin.user.email %> <%= image_tag(user_image(@pin.user), size: '20x20', class: 'mx-2 rounded-circle') %></p>
      </div>
    </div>
  </div>
  <%= render 'comments/comments'%>
</div>
