<div class="d-flex justify-content-center align-items-center">
  <%= form_with(model: [@board ,@pin], remote: true, class: "d-flex" ) do |form| %>
    <div class="row m-5 d-flex justify-content-between align-items-center">
      <div class="col-lg-5">
        <div class="new_img_box d-flex justify-content-center align-item-center">
          <%= form.label :image, class: 'form-control board_image_label'  %>
          <%= form.file_field :image, class: 'board_input' %>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <%= form.label :name, style: "display: block" %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div>
          <%= form.label :description, style: "display: block" %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>
        <% if @pin.image.attached? %>
          <div>
            <%= form.label :image, style: "display: block" %>
            <%= form.file_field :image, class: 'form-control' %>
          </div>
        <% end %>
        <div>
          <%= form.submit class: 'btn btn-dark w-100 mt-2', data: { action: 'click->bootstrap#submitEnd'} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
