<div data-controller="preview">
  <div class="d-flex gap-5">
    <% if board.image.attached? %>
      <div class="d-flex flex-column gap-4">
        <%= image_tag(board.image, width: '100px', height: '100px')%>
        <%= image_tag '', data: { preview_target: "preview" }, class: "image" %>
      </div>
    <% else %>
      <%= image_tag '', data: { preview_target: "preview" }, class: "image" %>
    <% end %>
    <div class="new_img_box d-flex justify-content-center align-item-center">
      <%= form.label :image, class: 'form-control board_image_label'  %>
      <%= form.file_field :image,
          data: {preview_target: "input", action: "change->preview#preview"}, class: 'board_input'%>
    </div>
  </div>
</div>
