<!DOCTYPE html>
<html>
  <head>
    <title>Pinfinity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('assets/logo.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;800;900&family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
  </head>
  <style>
    <%= ".msg-#{current_user&.id}" %> {
    background-color: #007bff !important;
    padding: 15px;
    color: white;
    border-radius: 5px;
    float: right;
    }
    <%= ".cont-#{current_user&.id}" %> {
    display: flex;
    justify-content: flex-end;
    }
  </style>
  <body>
    <div id="flash" class="flash">
      <%= render "partials/flash" %>
    </div>
    <%= render 'partials/navbar' %>
    <%= yield %>
  </body>
</html>
